.header {
  background-color: #083C68;
  color: #fff;
  padding: 10px 0;
}

.header .logo {
  font-size: 30px;
  line-height: 30px;
}

.header a {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
}

.content {
  margin: 15px;
}

.centered-form {
  width: 500px;
  padding: 30px;
  background: #FFFFFF;
  margin: 50px auto;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
}

.centered-form a {
  color: #07386C;
  text-decoration: none;
  margin-left: 15px;
}

.centered-form h2 {
  background: #17629F;
  text-transform: uppercase;
  color: #6EA3CF;
  font-size: 18px;
  font-weight: 100;
  padding: 20px;
  margin: -30px -30px 30px -30px;
}

.centered-form input[type="text"],
.centered-form input[type="date"],
.centered-form input[type="datetime"],
.centered-form input[type="email"],
.centered-form input[type="number"],
.centered-form input[type="search"],
.centered-form input[type="time"],
.centered-form input[type="url"],
.centered-form input[type="password"],
.centered-form textarea,
.centered-form select {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  display: block;
  width: 100%;
  padding: 7px;
  border: none;
  border-bottom: 1px solid #ddd;
  background: transparent;
  margin-bottom: 10px;
  font: 16px Arial, Helvetica, sans-serif;
  height: 45px;
}

.centered-form textarea{
  resize:none;
  overflow: hidden;
}
.centered-form input[type="button"],
.centered-form input[type="submit"]{
  -moz-box-shadow: inset 0px 1px 0px 0px #083C68;
  -webkit-box-shadow: inset 0px 1px 0px 0px #083C68;
  box-shadow: inset 0px 1px 0px 0px #083C68;
  background-color: #083C68;
  border: 1px solid #083C68;
  display: inline-block;
  cursor: pointer;
  color: #FFFFFF;
  font-size: 14px;
  padding: 8px 18px;
  text-decoration: none;
  text-transform: uppercase;
}
.centered-form input[type="button"]:hover,
.centered-form input[type="submit"]:hover {
  background: linear-gradient(to bottom, #083C68 5%, #0C406B 100%);
  background-color:#083C68;
}
